
{% extends 'base/base.html' %}
{% load static %}
{% block footer %}
{% endblock %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'order/css/orderlist.css' %}">
{% endblock %}



{% block title %}
    订单列表
{% endblock %}

{% block content %}

    <div class="cart">
     <div class="back" style="position: relative;left: 550px">
            <a href="{% url 'axf:mine' %}">
                <span class=" glyphicon glyphicon-remove " style="size: 10em"></span>
            </a>
        </div>
        <ul>
        {% for order in orders %}
            <li>

                <a href="{% url 'axf:orderdetail' order.identifier %}">
                    订单号: {{ order.identifier }} ----
                    {% if order.status == 0 %}
                        未付款
                    {% elif order.status == 1 %}
                        待发货
                    {% elif order.status == 2 %}
                        待收货
                    {% elif order.status == 3 %}
                        待评价
                    {% elif order.status == 4 %}
                        已评价
                    {% endif %}
                </a>
                <br>
              <i class="img">
            {% for item in order.ordergoods_set.all %}
                    <img src="{{ item.goods.productimg }}" alt="">
            {% endfor %}
            </i>
            </li>

            <br>
        {% endfor %}
        </ul>
    </div>


{% endblock %}